<div class="pagination__title">
    <span class="pagination__title-h">Affiliate Links & Resources</span>
    <hr style="box-sizing: content-box !important;"/>
</div>

<ul style="list-style-type: none;font-size: 13px;">
    <li>
        <a href="https://go.getproton.me/aff_c?offer_id=26&aff_id=5775&url_id=589">
            Proton Mail
        </a>
    </li>
    <li>
        <a href="https://go.getproton.me/aff_c?offer_id=26&aff_id=5775&url_id=282">
            Proton VPN
        </a>
    </li>
    <li>
        <a href="https://app.privacy.com/join/CXHJR">
            Privacy.com
        </a>
    </li>
</ul>
