<div id="top_bar">
    <!-- Site Name (left)-->
    <span class="top_title">
        <a href="/" id="SiteName"></a>
    </span>

    <!-- Nav Links (right)-->
    <div class="top_nav standard">
        <a href="/blog/">Blog</a>
        <span style="color:#666666">&nbsp;|&nbsp;</span>

        <a href="/about/">About</a>
        <span style="color:#666666">&nbsp;&nbsp;&nbsp;</span>

        <a href="https://github.com/sponsors/m8r0wn" title="Sponsor">
            <i class="fas fa-code-branch"></i>
        </a>
        <span style="color:#666666">&nbsp;&nbsp;</span>

        <a href="/rss.xml" title="RSS Feed"><i class="fas fa-rss"></i></a>
    </div>

    <!-- Mobile Nav-->
    <div class="top_nav mobile drop" onclick=this.src.addClass('drop-content');>
        <a href="#" class="waves-effect waves-light white-text">
            <i class="material-icons">menu</i>
        </a>
        <div class="drop-content">
            <a href="/blog/">Blog</a>
            <a href="/about/">About</a>
            <hr>
            <a href="https://github.com/sponsors/m8r0wn">Sponsor</a>
        </div>
    </div>
</div>
<script>
    document.getElementById('SiteName').innerHTML = Config.name;
</script>

